*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container{
    background-color: #ffffff;
    max-width: 600px;
    padding: 18px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);    
    width: 100%;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

h1{
    font-size: 1.5rem;
    color: #333;
}

#btn-theme{
    padding: 8px 12px;
    background-color: #333;
    color: wheat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
}